:root {
  /* colors */
  --text: #e8eee2;
  --background: #12160d;
  --primary: #b4caa0;
  --secondary: #3e6f4d;
  --accent: #76b297;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Coptic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
  background-color: var(--background);
  max-width: 90vw;
  margin: auto;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  padding: 0.5rem;
  max-height: 25vh;
  a {
    text-decoration: none;
    color: var(--text);
  }
  h1 {
    font-size: 2.2rem;
    margin-left: 1rem;
  }
  img {
    height: 100%;
    margin-right: 1rem;
  }
}

p {
  padding: 0.75rem;
}

main {
  margin: 1rem;
  h2 {
    text-align: center;
    font-size: 3rem;
  }
}
.login {
  button {
    padding: 0.5em 2em;
    background-color: var(--secondary);
    color: var(--text);
    margin: auto;
    display: block;
    border: 0;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 0.5rem;
}
  span {
    cursor: pointer;
    text-decoration: underline;
    color: var(--accent);
  }
}
header {
  border-bottom: 2px solid var(--primary);
}
footer {
  border-top: 2px solid var(--primary);
  text-align: center;
  margin: 2rem auto;
  width: 100%;
  p {
    margin: 0.5rem;
  }
}