:root {
  /* colors */
  --text: #e8eee2;
  --background: #0d160e;
  --primary: #b4caa0;
  --secondary: #3e6f4d;
  --accent: #76b297;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Coptic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
  background-color: var(--background);
  max-width: 90vw;
  margin: auto;
}

img {
  max-width: 100%;
}

/* Header & Footer Styling */
header {
  display: flex;
  padding: 0.5rem;
  max-height: 25vh;
  border-bottom: 2px solid var(--primary);
  a {
    text-decoration: none;
    color: var(--text);
  }
  h1 {
    font-size: 2.2rem;
    margin-left: 1rem;
  }
  img {
    height: 100%;
    margin-right: 1rem;
  }
}

footer {
  border-top: 2px solid var(--primary);
  text-align: center;
  margin: 1rem auto;
  width: 100%;

  p {
    margin: 0.5rem;
    padding: 0.75rem;
  }
}

/* Generic Main Styling */
main {
  margin: 1rem;
  h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

/* Home Page Login Section Styling */
.login {
  font-size: 1.2rem;
  text-align: center;

  button, a {
    padding: 0.5em 2em;
    background-color: var(--secondary);
    color: var(--text);
    margin: 3rem auto;
    display: block;
    border: 0;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 1.5s ease, color 1.2s ease;
    text-decoration: none;
    max-width: 500px;

    &:hover {
      background-color: var(--accent);
      color: var(--background);
    }
}

  span {
    cursor: pointer;
    text-decoration: underline;
    color: var(--accent);
  }

  p {
    padding: 0.75rem;
  }
}

/* Billboard Page Styling */

.billboard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  form {
    display: flex;
    flex-direction: column;

    label {
      text-align: center;
      font-size: 1.4rem;
      padding: 0.25rem;
    }

    select {
      border: 0;
      background-color: var(--primary);
      color: var(--background);
      font-size: 1.2rem;
      border-radius: 0.5rem;
      padding: 0.5rem;
    }

    button {
      padding: 0.5rem;
      background-color: var(--secondary);
      color: var(--text);
      margin: 0.5rem;
      display: block;
      border: 0;
      font-size: 1.4rem;
      cursor: pointer;
      border-radius: 0.5rem;
      transition: background-color 1.5s ease, color 1.2s ease;
      text-decoration: none;
    
      &:hover {
        background-color: var(--accent);
        color: var(--background);
      }
    }
  }
}

/* Track Details Display Styling */

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  text-align: center;
  
  img {
    max-width: 200px;
    margin: 1rem;

  }
  p {
    font-size: 1.4rem;
    padding: 0.25rem;
  }
  span {
    font-size: 3rem;
    font-weight: bold;
    margin: 1rem;
  }
}

.artist-info {
  font-style: italic;
}

.results {
  a {
      padding: 0.5em 2em;
      background-color: var(--accent);
      color: var(--background);
      margin: 3rem auto;
      display: block;
      border: 0;
      font-size: 1.4rem;
      cursor: pointer;
      border-radius: 0.5rem;
      transition: background-color 1.5s ease, color 1.2s ease;
      text-decoration: none;
      max-width: 500px;
      text-align: center;
    
      &:hover {
        background-color: var(--secondary);
        color: var(--text);
      }
  }
}

.genres {
  p {
    text-transform: capitalize;
    font-size: 2rem;
  }
}
